#header{
    background: red;
    height: 32px;
    color: white;
    font-weight: 100;
    font-size: 12px;
}
#login-contain{
    line-height: 32px;
    float: left;
}
#login-contain a{
    margin-left: 20px;
    color: white;
}
#login-contain a:hover{
    color:red;
}
#header-menu{
    float: right;
    line-height: 32px;
}
#header-menu .menu{
    float: left;
    padding: 0 14px;
}
#header-menu .icon-ai66{
    color: white;
    font-size: 15.2px ;
}
#header-menu .icon-shouji-copy{
    color: white;
    font-size: 15.2px ;
}
#header-menu .icon-wangzhandaohang{
    color: white;
    font-size: 15.2px ;
}


